allure-pytest==2.8.40
Faker==8.1.2
Flask==2.0.0
PyMySQL==1.0.2
pytest==6.2.2
pytest-xdist==1.31.0
requests==2.22.0
selenium==3.141.0
simplejson==3.16.0
SQLAlchemy==1.4.13
webdriver-manager==3.3.0
Appium-Python-Client==1.1.0